<div class="alignleft">
  <p>
  <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
  </p>
  <p>
    <a href="http://github.com/willerce/hexo-theme-noderce">Noderce</a> Theme By <a href="http://willerce.com" >willerce</a>
  </p>

</div>
<div class="clearfix"></div>

<script src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

<span id="busuanzi_container_site_pv">
  This site has been visited <strong><span id="busuanzi_value_site_pv"></span></strong> times,
</span>
<span id="busuanzi_container_site_uv">
  and there has been a total of <strong><span id="busuanzi_value_site_uv"></span></strong> guests.
</span>
