#footer
  position absolute
  bottom 0
  width 100%
  padding 10px 0
  color #818181
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  background #DCDCDC
  box-sizing border-box

  @media screen and (max-width: 820px)
    padding 10px 1em
